*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  overflow-y: scroll;
}

body {
  background-image: url("../images/beachBackground_cut.png"); 
  background-size: cover;
  background-attachment: fixed;
  min-height: 500px;  
  
  line-height: 1.4 !important;
  
}

.textOverBoxes {
  color: #4f3222 !important;
  font-weight: bold;
}

#jungleIslandContainer {  
  width: 1460px !important;
  max-width: 1460px !important;
  padding: 0px !important; 
  margin-top: 20px !important;
  margin-bottom: 0px !important; 
}

#jungleIslandTextDiv {
  text-align: center;
  padding: 10px;
  background-color: #ededed;
  border-radius: 10px;
  margin-right: 0px !important;
  margin-left: 0px !important;
  opacity: 0.95;
}

#audioButtonHolderArea {
  margin-top: 8px;
  margin-bottom: 8px;
  height: 60px;
  border-radius: 10px;
  background-color: #ededed;
  display: flex;
  justify-content: center;
  margin-right: 0px !important;
  margin-left: 0px !important;
  opacity: 0.95;
}

#audioButtonHolderDiv {  
  align-self: center;  
  justify-content: space-around;
}

.boldButton {
  font-weight: bold;   
}

.importantButton{
  font-weight: bold !important;
  font-size: 1.1rem !important;   
}

#bananaDisplay{
  display: inline-block;
}

#monkeyRowGallery {
  color: #4f3222 !important;
  margin-right: 0px !important;
  margin-left: 0px !important;
  justify-content: space-around;
}

#monkeyRowCreation {
  color: #4f3222 !important;
  margin-right: 0px !important;
  margin-left: 0px !important;
  justify-content: space-around;
}

#monkeyRowMultiply {
  display: none; 
  color: #4f3222 !important;
  margin-right: 0px !important;
  margin-left: 0px !important;
  justify-content: space-around;
}

#marketRow{
  display:none;
  color: #4f3222 !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;  
  justify-content: space-around;
}



#parentsArea {
  justify-content: space-around;
  display: none;
}

.monkeySliderArea {
  position:relative;
  padding: 25px;
  margin-top: 0px !important;
  margin-bottom: 0px !important; 
  background-color: #ededed;
  border-radius: 10px;
  z-index: 0;
  opacity: 0.95;
}

#monkeyBoxCreation{
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  height: 600px !important; 
}

#sliderButtonHolderDiv {
  width: 100%;
  align-self: center;
  display: flex;
  justify-content: space-around;
  margin-bottom: 25px;
}

.attributesSliders {
  display: none;
}

.monkeyBox {
  position: relative;
  height: 640px;
  width: 400px !important;
  /*background-color: #93fc7c;*/
  background-image: url("../images/monkeyBoxBackground_cut.png");
  border-radius: 10px;
  z-index: 1;
}

.dnaDiv {
  position: absolute;
  width: 300px !important;
  height: 25px !important;
  display: flex;  
  align-items: center;
  left: 50px;  
  background-color: #ededed;
  border-radius: 10px;
}

.offerPriceDiv {
  display: none;
  padding-left: 25px;
  bottom: 10px
}

.offerOwnerDiv {
  display: none;
  padding-left: 25px;
  bottom: 40px
}

.monkeyTokenIdDiv {
  bottom:70px;
  padding-left: 25px;
}

.monkeyGenerationDiv {
  bottom: 40px;
  padding-left: 25px;
}

.monkeyDNALine {
  bottom: 10px;
  justify-content: center;  
}

#monkeyDNALineCreation {
  bottom: 15px;
}


#buttonHolderArea {
  margin-top: 8px;
  margin-bottom: 8px;
  height: 60px;
  border-radius: 10px;
  background-color: #ededed;
  display: flex;
  justify-content: center;
  margin-right: 0px !important;
  margin-left: 0px !important;
  opacity: 0.95;
}

#buttonHolderDiv {
  width: 1000px;
  align-self: center;
  display: flex;
  justify-content: space-around;
}

.holderDiv {
  width: 1000px;
  align-self: center;
  display: flex;
  justify-content: space-around;
}

#marketButtonHolderArea {
  margin-bottom: 8px !important;
  height: 60px;
  border-radius: 10px;
  background-color: #ededed;
  display: none;
  justify-content: center;  
  opacity: 0.95;
}

#marketbuttonHolderDiv {
  width: 1000px;
  align-self: center;
  display: flex;
  justify-content: space-around;
}

#monkeyDisplayArea {
  color: #4f3222 !important;
  margin-right: 0px !important;
  margin-left: 0px !important;
  justify-content: space-around;
}

#offerButtonHolderArea {
  margin-bottom: 8px !important;  
  height: 60px;
  border-radius: 10px;
  background-color: #ededed;
  display: none;
  justify-content: center;  
  opacity: 0.95;
}

#offerbuttonHolderDiv {
  width: 1100px;
  align-self: center;
  display: flex;
  justify-content: space-around;
}

#buyButtonHolderArea {
  margin-bottom: 8px !important;  
  height: 60px;
  border-radius: 10px;
  background-color: #ededed;
  display: none;
  justify-content: center;  
  opacity: 0.95;
}

#buyButtonHolderDiv {
  width: 1100px;
  align-self: center;
  display: flex;
  justify-content: space-around;
}

#removeOffButtonHolderArea {
  margin-bottom: 8px !important;  
  height: 60px;
  border-radius: 10px;
  background-color: #ededed;
  display: none;
  justify-content: center;  
  opacity: 0.95;
}

#removeOffbuttonHolderDiv {
  width: 1100px;
  align-self: center;
  display: flex;
  justify-content: space-around;
}

#multiplyButtonHolderArea {
  margin-top: 0px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
  margin-bottom: 8px !important;  
  height: 60px;
  border-radius: 10px;
  background-color: #ededed;
  display: none;
  justify-content: center;  
  opacity: 0.95;
}

#multiplybuttonHolderDiv {
  width: 1000px;
  align-self: center;
  display: flex;
  justify-content: space-around; 
}

.multiplyAreaBackground {    
  margin-bottom: 8px !important;
  padding: 5px;  
  background-color: #ededed;
  border-radius: 10px;
  z-index: 0; 
}

#monkeyMultipliedSuccessArea {
  justify-content: center;
  display: flex;
  margin-left: 0px !important;
  margin-right: 0px !important; 
}

#monkeyCreatedDiv {
  display: none;
  position:absolute;
  width: 90%;
  justify-content: center;
  border-radius: 10px;
  font-size: 16px !important;
  font-weight: bold !important;    
  margin-bottom: 0px !important; 
  bottom: 20px; 
}

#monkeyCreatedDivUnorderedList { 
  margin-bottom: 0px !important; 
}

.monkeyAlertBox {
  display: none;  
  width: 100%;
  justify-content: center;
  border-radius: 10px;
  font-size: 16px !important;
  font-weight: bold !important;    
  margin-bottom: 8px !important;   
}

#breedingSuccessfulDivUnorderedList { 
  margin-top: 16px !important; 
  margin-bottom: 16px !important; 
}

#monkeyMultipliedSuccessDiv {
  display: none;
  width: 100% !important;
  justify-content: center;
  border-radius: 10px;
  font-size: 16px !important;
  font-weight: bold !important; 
  position: relative;  
  border: 1px solid transparent;  
  margin-bottom: 8px;
}

.offerHoldCol{
  width: 160px;
}

.offerBox {
  position: relative;
  height: 720px !important;
  width: 400px !important;
  /*background-color: #93fc7c;*/
  background-image: url("../images/monkeyBoxBackground_cut.png") !important;
  border-radius: 10px;
  z-index: 1;
}