*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  overflow-y: scroll;
}
body {
  background: #ede15f;
  line-height: 1 !important;
}

.textOverBoxes {
  color: #4f3222 !important;
  font-weight: bold;
}

#jungleIslandContainer {
  margin-top: 2vh;
}

#jungleIslandTextDiv {
  text-align: center;
  padding: 16px;
  background-color: #ededed;
  border-radius: 10px;
}

#audioButtonHolderArea {
  margin-top: 8px;
  margin-bottom: 8px;
  height: 60px;
  border-radius: 10px;
  background-color: #ededed;
  display: flex;
  justify-content: center;
}

#audioButtonHolderDiv {
  width: 1000px;
  align-self: center;
  display: flex;
  justify-content: space-around;
}

#monkeyRow {
  color: #4f3222 !important;
  margin-right: 0px !important;
  margin-left: 0px !important;
  justify-content: space-around;
}

.monkeyAttributes {
  padding: 25px;
  background-color: #ededed;
  border-radius: 10px;
  z-index: 0;
}

#sliderButtonHolderDiv {
  width: 100%;
  align-self: center;
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
  margin-top: 25px;
}

.attributesSliders {
  display: none;
}

.monkeyBox {
  position: relative;
  height: 580px;
  width: 400px !important;
  /*background-color: #93fc7c;*/
  background-image: url("https://cdn.pixabay.com/photo/2016/11/28/18/37/the-1865639_960_720.jpg");
  border-radius: 10px;
  z-index: 1;
}

.dnaDiv {
  position: absolute;
  width: 300px !important;
  height: 24px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50px;
  bottom: 15px;
  background-color: #ededed;
  border-radius: 10px;
}

#buttonHolderArea {
  margin-top: 8px;
  margin-bottom: 8px;
  height: 60px;
  border-radius: 10px;
  background-color: #ededed;
  display: flex;
  justify-content: center;
}

#buttonHolderDiv {
  width: 1000px;
  align-self: center;
  display: flex;
  justify-content: space-around;
}

#jungleIslandFooter {
  height: 80px !important;
  margin-top: 8px;
  margin-bottom: 8px;
  border-radius: 10px;
  background-color: #ededed;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

#jungleIslandFooter p {
  font-size: 16px;
  font-weight: bold;
}
